        <!-- 左侧菜单树 -->
        <aside class="sidebar offscreen-left">
            <nav class="main-navigation"
             data-height="auto" data-size="6px"
                 data-distance=0 data-rail-visible=true
                 data-wheel-step=10>
                <p class="nav-title">菜单</p>
                <ul class="nav">
                    <li>
                        <a href="${base}/home" data-pjax>
                            <i class="ti-home active"></i>
                            <span>控制台</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="toggle-accordion"></i>
                            <i class="ti-settings"></i>
                            <span>系统管理</span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="${base}/dept/index" data-pjax><i class="ti-drupal"></i><span>部门管理</span></a></li>
                            <li><a href="${base}/account/add" data-pjax><i class="ti-user"></i><span>用户管理</span></a></li>
                            <li><a href=""><i class="ti-ruler"></i><span>角色管理</span></a></li>
                            <li><a href=""><i class="ti-menu"></i><span>菜单管理</span></a></li>
                            <li><a href=""><i class="ti-themify-logo"></i><span>日志管理</span></a></li>
                            <li><a href=""><i class="ti-settings"></i><span>系统参数</span></a></li>
                        </ul>
                    </li>

                </ul>

                <p class="nav-title">标签</p>
                <ul class="nav">
                    <li>
                        <a href="javascript:;">
                            <i class="ti-control-record text-warning"></i>
                            <span>项目</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="ti-control-record text-success"></i>
                            <span>应用</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="ti-control-record text-danger"></i>
                            <span>支持</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
