

.gallery-loader {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 999;
    height: 100%;
}

.portfolio-ajax.loaded .gallery-loader {
    opacity: 0;
    filter: alpha(opacity=0);
    display: none;
}